
body {
  background-color: #F5F5F1;
  color: #59544C;
}

#main {
  width: 100%;
}

.container-cards {
  width: calc(100% / 3);
}

.card-sp {
  background-color: white;
  text-align: center;
  margin: 1.2rem;
  cursor: pointer;
  overflow: hidden;
  padding-bottom: 1rem;
  color: #59544C;
  font-size: 1rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  transition: all 1s;
}

.card-sp:hover {
  transform: scale(1.1);
}
